# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Virtual environment
venv/
env/
.env/

# Data
data/raw/

# Kaggle credentials
kaggle.json
.kaggle/

# Jupyter
.ipynb_checkpoints/
*.ipynb

# macOS
.DS_Store

# IDEs
.vscode/
.idea/
*.swp